<!DOCTYPE html>
{% extends 'blogApp/base.html' %}
{% load static %}
{% block content_block %}
<link rel="stylesheet" type="text/css" href="{% static 'login1/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login1/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
<div class="container" align='center'>
  
</div>
{% endblock %}
